<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683950382042-aktlchshu5gucr6ps7prp4bikprsh8gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683950382042-aktlchshu5gucr6ps7prp4bikprsh8gc</string>
	<key>API_KEY</key>
	<string>AIzaSyDeRnRCYiwv800F61tcFTdg7Y9qGgW29G4</string>
	<key>GCM_SENDER_ID</key>
	<string>683950382042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.alves.loja-lala-for-kids</string>
	<key>PROJECT_ID</key>
	<string>lala-for-kids</string>
	<key>STORAGE_BUCKET</key>
	<string>lala-for-kids.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683950382042:ios:44523085bb035269e0fee3</string>
	<key>DATABASE_URL</key>
	<string>https://lala-for-kids-default-rtdb.firebaseio.com</string>
</dict>
</plist>